@font-face {
    src: url("fonts/WarblerVariable[opsz\,wght]-Edu.woff") format("woff"),
         url("fonts/WarblerVariable[opsz\,wght]-Edu.woff2") format("woff2");

    font-family: 'Warbler Variable';
    font-style: normal;
    font-weight: normal;
    }

    @font-face {
        src: url("fonts/WarblerVariable-Italic[opsz\,wght]-Edu.woff") format("woff"),
             url("fonts/WarblerVariable-Italic[opsz\,wght]-Edu.woff2") format("woff2");
    
        font-family: 'Warbler Variable Italic';
        font-style: italic;
        font-weight: normal;
        }
    
    body{
    background-color: #E5CA9A;
}

.hero-container {
    position: relative;
    height: 100vh
}

.hero h3 {
    position: absolute;
    top: 18%; /* Adjust as needed */
    left: 48%; /* Adjust as needed */
    transform: translate(-50%, -50%); /* Center the text */
    z-index: 1; /* Ensure it appears above the SVG */
    font-size: 11rem
}

.hero svg {
    position: relative; /* Ensure it's not static */
    top: 40%; /* Adjust this value to move it down */
    left: 50%;
    transform: translate(-50%, -50%);
}

/* how the page wrapper will appear on mobile */
.page-wrapper{
    width: min(100% - 2rem, 100ch);
    margin-inline: auto;
}
/* how the page wrapper appears on desktop */

@media only screen and (min-width:800px){
.page-wrapper{
display: grid;
grid-gap: 10%;
grid-template-columns: 6fr 6fr;
grid-template-rows: 1fr, 1fr;
grid-template-areas: 
    "h v"
    "a a";
}
#history, #variations, #alphabet {
    width: 100%; /* Allow the container to take full width */
    max-width: none; /* Remove any maximum width constraints */
}

#history {
grid-area: h;
margin-top: -90px;
margin-left: -100px;
}

#variations{
grid-area: v;
margin-top: -90px;
margin-left: 100px;
}

#alphabet {
grid-area: a;
margin-left: -100px;
}

/* CSS for the footer */
footer{
    background-color: gray;
}

/* variable font animation */

h1{
    font-family: "Warbler Variable";
    color: #6d7b60
}

h2{
    font-family: "Warbler Variable Italic";
    color: #6d7b60
}
h3{
    font-weight:20; 
    text-align: center;
    font-size: 5em;
    font-family: "Warbler Variable";
    line-height: 10px;
    animation: weightChange 7s infinite;
    color: #E5CA9A
}

h4{
    font-family: "Warbler Variable Italic";
    color: #6d7b60
}

.paragraph-hero{
    text-align: center;
    font-family: "Warbler Variable Italic";
    line-height: 10px;
    font-size: 1.5em;
}

p{
    color: #6d7b60;
    font-family: "Warbler Variable";
    font-size: 1em;

}

@keyframes weightChange {
    0%, 100%{
        font-variation-settings: "opsz" 15, "wght" 400;
    }
    50%{font-variation-settings: "opsz" 96, "wght" 700;
    }
    
}

@keyframes weightChangeItalic {
    50%{
        font-variation-settings: "opsz" 15, "wght" 400;
    }
    0%, 100%
       {font-variation-settings: "opsz" 96, "wght" 700;
    }
    
}

/* animation for variation section */
.weight{
    animation: VariationWeightChange 3s infinite;
}
@keyframes VariationWeightChange {
    0%, 100%{
        font-variation-settings: "wght" 400;
    }
    50%{font-variation-settings: "wght" 700;
    }
    
}

.optical-size{
    animation: variationOpticalSizeChange 3s infinite;
}
@keyframes variationOpticalSizeChange {
    0%, 100%{
        font-variation-settings: "opsz" 15;
    }
    50%{font-variation-settings: "opsz" 96;
    }
    
}

/* variable font that changes on hover */
.variable-font{
    font-weight:1 ;
    height:100vh;
    font-size: 10em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 40, "wdth" 0, "XXXX" 1;
    transition: 
        font-weight 500ms,
        font-variation-settings 3s;
}

.variable-font:hover{
    font-weight:500 ;
    height:100vh;
    font-size: 7em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 120, "wdth" 0, "XXXX" 100;
}